@media (min-width: 320px) and (max-width: 490px) {
  #slider {
    display: none;
  }
  #vk_community_messages {
    bottom: 40px !important;
  }
  #content {
    margin-bottom: 120px;
  }
  .footer {
    display: none;
  }
  .modal {
    width: 90% !important;
  }
  .modal-header span {
    text-align: center;
  }
  .modal-form input {
    width: 85%;
    padding: 10px 15px;
    font-size: 16px;
  }
  .modal-form textarea {
    width: 85%;
    padding: 10px 15px;
    font-size: 16px;
  }
  .modal-form button {
    font-size: 16px;
  }
  .close-modal {
    top: 11px !important;
    right: 14px !important;
  }
  .container {
    width: 100%;
    padding: 0 10px;
    position: relative;
  }
  .header {
    display: none;
  }
  .header-mobile {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .header-mobile-logo svg {
    width: 200px;
  }
  .header-mobile-button select {
    width: 90px;
    background-color: #C4C4C4;
    color: #fff;
    font-weight: 400;
    font-size: 10px;
    padding: 4px;
    outline: none;
    text-align: center;
    border: none;
  }
  .header-mobile-button select option {
    border: none;
  }
  .header-bottom {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #030303;
    height: 50px;
    position: fixed;
    width: 100%;
    z-index: 1000;
    bottom: 0;
    left: 0;
  }
  .catalog {
    flex-direction: column;
    justify-content: center;
  }
  .catalog-item {
    align-items: center;
  }
  .catalog-item img {
    width: 320px;
    height: 520px;
  }
  .catalog-item-text {
    width: 320px;
  }
  .catalog-item-text a:nth-child(1) {
    font-size: 18px;
  }
  .button-order {
    flex-direction: column;
  }
  .button-order a {
    font-size: 12px;
    padding: 15px 20px;
    width: 319px;
    margin-bottom: 16px;
  }
  .catalog-page {
    margin-bottom: 50px;
  }
  .catalog-page-header h2 {
    font-size: 24px;
  }
  .catalog-page-header a {
    font-size: 24px;
  }
  .catalog-page-item {
    flex-direction: column;
  }
  .catalog-page-item-list {
    width: 320px;
  }
  .catalog-page-item-list .photo_catalog {
    width: 300px;
    height: 200px;
  }
  .catalog-page-item-list-thumb img {
    width: 60px;
    height: 60px;
  }
  .catalog-page-item-list-thumb .price {
    font-size: 16px;
  }
  .product-cart {
    margin-bottom: 80px;
  }
  .product-cart-header h2 {
    font-size: 24px;
  }
  .product-cart-header a {
    font-size: 24px;
  }
  .product-cart-info {
    margin: 0 auto;
    width: 320px;
    flex-direction: column;
  }
  .product-cart-info p {
    font-size: 16px;
    margin-top: 30px;
  }
  .product-cart-info-text {
    margin-top: 20px;
    margin-left: 0 !important;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .product-cart-info-text .instock {
    margin-top: 35px;
    font-size: 16px;
    margin-left: 40px;
  }
  .product-cart-info-text a {
    margin-top: 40px;
    width: 150px;
    padding: 15px 10px;
  }
  .product-cart-info-text .cart-price {
    margin-top: 0;
    margin-left: 80px;
  }
  .product-cart-desc {
    width: 320px;
  }
  .images {
    width: 308px !important;
  }
  .thumbnail img {
    width: 90px;
  }
  .online_video {
    width: 330px !important;
    padding: 15px 10px !important;
  }
  #onlineVideo {
    padding: 5px !important;
    width: 90% !important;
  }
  #header-cart {
    display: none;
  }
  #header-cart-mobile {
    display: inline-block;
    position: relative;
  }
  #header-cart-mobile span {
    position: absolute;
    top: 3px;
    left: 15px;
    font-size: 14px;
    color: #FFF;
  }
  .information-header h2 {
    font-size: 24px;
  }
  .information-header a {
    font-size: 24px;
  }
  .information-text {
    margin-bottom: 70px;
  }
  .information-text img {
    width: 100% !important;
  }
  .catalog-sort {
    margin-left: 0;
  }
  .catalog-sort label {
    font-size: 14px;
  }
  #iframe {
    width: 100%;
    height: 230px;
  }
  .thumbnails {
    width: 320px !important;
    margin-left: 0 !important;
  }
  #update {
    margin-left: 5px !important;
  }
  #update svg {
    width: 10px !important;
  }
  .total {
    margin-top: 40px;
  }
  .total-price {
    width: 100px;
    font-size: 18px;
  }
  .total-price span {
    font-size: 24px;
  }
  .total-button a:nth-child(1) {
    font-size: 18px;
    padding-right: 0;
  }
  .total-button a:nth-child(2) {
    font-size: 14px;
    padding: 5px 15px;
  }
  .burger {
    display: flex;
    width: 80%;
    flex-direction: column;
    position: absolute;
    background: black;
    top: 54px;
    padding: 15px 35px;
    left: -100%;
    transition: left 0.3s linear;
  }
  .burger a {
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    padding: 8px;
  }
  .burger-active {
    left: 0 !important;
  }
  .shopping-cart-header h2 {
    font-size: 24px;
  }
  .shopping-cart-header span {
    font-size: 18px;
    margin-top: 8px;
  }
  .shopping-cart-item .remove {
    width: 40px;
    height: 40px;
    top: -10px;
    right: -6px;
  }
  .shopping-cart-item-img img {
    width: 80px !important;
    height: 56px !important;
  }
  .shopping-cart-item-name {
    width: 90px;
    padding-left: 10px;
    font-size: 12px;
  }
  .shopping-cart-item-change {
    margin-left: 20px;
  }
  .shopping-cart-item-change button {
    font-size: 14px;
    width: 20px;
  }
  .shopping-cart-item-change input {
    width: 11px;
    font-size: 14px;
    padding: 0;
    border-radius: 0;
  }
  .shopping-cart-item-price {
    margin-left: 20px;
  }
  .shopping-cart-item-price span:nth-child(1) {
    font-size: 14px;
  }
}
/*# sourceMappingURL=mobile-style.css.map */